.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.navName {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.outer {
  width: 1px;
  height: 80%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.inner {
  position: absolute;
  width: 100%;
  height: 30%;
  background: rgb(255, 255, 255);
  top: 30%;
  box-shadow: 0px 0px 30px 20px rgb(255, 255, 255);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: transparent;
  color: #333;
  transform: translateY(0);
  transition: transform 0.6s ease;
}

.header2 {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #0c6ffd;
  color: rosybrown;
  transform: translateY(10);
  transition: transform 1s ease;
  animation: myanimation 1s;
  z-index: 2;
}
@keyframes myanimation {
  0% {
    background-color: transparent;
    color: transparent;
  }
  35% {
    background-color: #0c6ffd;
  }
  100% {
    background-color: #0c6ffd;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: 70px;
  }

  .header2 {
    height: 70px;
  }
}
.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.header.hidden {
  transform: translateY(-110%);
}
.navLink {
  background-image: linear-gradient(to right, #fff, #fff 50%, #ffffffbf 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 8px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  margin: 0px 5px;
}
.navLink::before {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.navLink:hover {
  background-position: 0;
}
.navLink:hover::before {
  width: 100%;
}
.navLinkCircle {
  background-image: linear-gradient(to right, #fff, #fff 50%, #ffffffbf 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 8px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  margin: 0px 5px;
}
.navLinkCircle::before {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.navLinkCircle:hover {
  // background-position: 0;
  background-color: white;
}
// .navLinkCircle:hover::before {
//   width: 100%;
//   background-color: white;
// }
.badge {
  color: white !important;
}
.contacts-footer {
  height: 280px;
  padding: 30px;
}
@media screen and (max-width: 960px) {
  .offCanvas {
    background-color: #0c6ffd;
  }
  .contacts-footer {
    height: 380px;
  }
}
