.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.navName {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.outer {
  width: 1px;
  height: 80%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.inner {
  position: absolute;
  width: 100%;
  height: 30%;
  background: rgb(255, 255, 255);
  top: 30%;
  box-shadow: 0px 0px 30px 20px rgb(255, 255, 255);
}
.nameEmail {
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
}
.nameProfile {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
.avatarProfile {
  // height: 70px !important;
  // width: 70px !important;
  margin-top: 8px;
  object-fit: fill;
}

.panelGroupSettings {
  padding: 30px 20px !important;
}
.RiderProfileNavbarMobile {
  position: fixed;
  height: 120px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #0c6ffd !important;

  z-index: 2;
}
.UserNavbarMobile {
  position: absolute;
  top: 0;
  left: 0;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100%;
  height: 80px !important;
  background-color: transparent;
  color: #333;
  transform: translateY(0);
  transition: transform 0.6s ease;
  z-index: 1;
}
.UserNavbarMobile2 {
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff !important;
  color: rosybrown;
  transform: translateY(10);
  transition: transform 1s ease;
  animation: myanimation 1s;
  z-index: 2;
}
.homeBlue {
  background-color: #0c6ffd !important;
  height: 250px;
  content: '';
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: transparent;
  color: #333;
  transform: translateY(0);
  transition: transform 0.6s ease;
}

.header2 {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #0c6ffd;
  color: rosybrown;
  transform: translateY(10);
  transition: transform 1s ease;
  animation: myanimation 1s;
  z-index: 2;
}

.header-container {
  margin: 0px 120px;
}
@keyframes myanimation {
  0% {
    background-color: transparent;
    color: transparent;
  }
  35% {
    background-color: #0c6ffd;
  }
  100% {
    background-color: #0c6ffd;
  }
}
.announcement-carousel {
  width: 60%;
  margin: 0 auto;
}
.verify-card-email {
  padding: 50px 100px 100px 100px;
}
@media only screen and (max-width: 600px) {
  .verify-card-email {
    padding: 40px 2px;
  }
  .verify-card-email h1 {
    font-size: 25px;
  }
  .verify-card-p {
    font-size: 1px;
  }
  .header-container {
    margin: 0px 0px;
  }
  .header {
    height: 70px;
  }

  .header2 {
    height: 70px;
  }
}
.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.header.hidden {
  transform: translateY(-110%);
}
.navLink {
  background-image: linear-gradient(to right, #fff, #fff 50%, #ffffffbf 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 8px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  margin: 0px 10px;
  font-size: 18px;
}
.navLink::before {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.navLink:hover {
  background-position: 0;
}
.navLink:hover::before {
  width: 100%;
}
.navLinkCircle {
  background-image: linear-gradient(to right, #fff, #fff 50%, #ffffffbf 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 8px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  margin: 0px 5px;
}
.navLinkCircle::before {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.navLinkCircle:hover {
  // background-position: 0;
  background-color: white;
}
// .navLinkCircle:hover::before {
//   width: 100%;
//   background-color: white;
// }
.badge {
  color: white !important;
}
.contacts-footer {
  height: 280px;
  padding: 30px;
}
.announcement-card {
  width: 80%;
  margin-top: -180px;
}
.forgot-password-header {
  height: 100px;
}
.forgot-password-card {
  width: 35%;
  height: auto;
  // margin: 45px 0px;
}
.forgot-password-h1 {
  font-size: 25px !important;
}
.wallet-modal-container {
  position: relative;
  width: 50%;
}

.wallet-modal-middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 70%;
  // transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.wallet-modal-image {
  margin: auto;
}
.wallet-modal-container:hover .wallet-modal-image {
  opacity: 0.3;
}

.wallet-modal-container:hover .wallet-modal-middle {
  opacity: 1;
}

.wallet-modal-text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.search-icon {
  margin-top: 7px;
  left: 8px;
}
.search-input {
  width: 50%;
}
.offcanvas {
  width: auto !important;
}
.customNav {
  display: none;
}
.UserNavbarMobile {
  display: none;
}
.to-pick-up {
  width: 80%;
}
.card-pick-up {
  width: 50%;
}
.RiderProfileNavbarMobile {
  display: none;
}
.card-add-to-cart {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
}
.deskchangeprof {
  display: block;
}
.mobilechangeprof {
  display: none;
}
@media screen and (max-width: 960px) {
  .deskchangeprof {
    display: none;
  }
  .mobilechangeprof {
    display: block;
  }
  .card-add-to-cart {
    width: 100%;
    margin: 0 auto;
    margin-top: 95px;
  }
  .RiderProfileNavbarMobile {
    display: block;
  }
  .card-pick-up {
    width: 100%;
  }
  .to-pick-up {
    width: 100%;
  }
  .UserNavbar {
    display: none;
  }
  .UserNavbarMobile {
    display: block;
  }
  .customNav {
    display: block;
  }
  .header {
    height: 70px;
  }
  .show-fake-browser {
    display: none;
  }
  .header2 {
    height: 70px;
  }
  .search-input {
    width: 100%;
  }
  .search-icon {
    margin-top: 9px;
    left: 8px;
  }
  .wallet-modal-container {
    position: relative;
    width: 55%;
  }
  .wallet-modal-image {
    margin: 0 auto;
  }
  .announcement-carousel {
    width: 100%;
  }
  .header-container {
    margin: 0px 0px;
  }
  .forgot-password-header {
    height: 70px;
  }
  .forgot-password-h1 {
    font-size: 18px !important;
  }
  .forgot-password-card {
    height: auto;
    width: 90%;
  }
  .announcement-card {
    width: 100%;
    margin-top: -20px;
  }
  .offCanvas {
    background-color: #0c6ffd;
  }
  .contacts-footer {
    height: 490px;
  }
}

.customNav {
  z-index: 3;
  bottom: 0;
  position: fixed;
  height: auto;
  width: 100%;
  box-shadow: -1px -1px 17px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: -1px -1px 17px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: -1px -1px 17px -1px rgba(0, 0, 0, 0.39);
}
.mobile-icon {
  height: 25px !important;
  padding: 5px 5px 0px 5px;
}
.mobile-icon-label {
  font-size: 12px;
}
.sidebar-icon {
  height: 18px !important;
  padding: 5px 5px 0px 0px !important;
}
