video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
}

.video-overlay {
  // background: ;
  width: 100%;

  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  height: 700px;
}
.hero-container {
  // background: ;
  height: 700px;
  line-height: 100px;
  padding: 0px 120px;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-container > h1 {
  color: #fff;
  font-size: 70px;
  margin-top: 250px;
}
.hero-container > p {
  font-size: 32px;
  color: #fff;
}
.promotion {
  // background: ;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 1;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promotion > h1 {
  color: #fff;
  font-size: 45px;
}
.promotion > p {
  font-size: 32px;
  color: #fff;
}
.rider-img {
  height: auto;
  width: 100%;
  right: 0;
}

.hero-btns {
  margin-top: 32px;
}

.getstartedbtn {
  margin-right: 35px !important;
}
.ordernowbtn {
  margin-left: 35px !important;
}
@media screen and (max-width: 960px) {
  .getstartedbtn {
    margin-right: 0px !important;
  }
  .ordernowbtn {
    margin-left: 0px !important;
  }
  .hero-container > h1 {
    font-size: 70px;
  }
  .hero-container {
    padding: 0px 0px;
  }
}
@media screen and (max-width: 768px) {
  .hero-container {
    line-height: normal;
  }
  .hero-container > h1 {
    font-size: 40px;

    margin-top: 180px;
  }
  .hero-container > p {
    font-size: 22px;
  }
  .promotion > h1 {
    font-size: 30px;
    line-height: normal;
    text-align: center;
  }
  .promotion > p {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
  }
  .rider-img {
    height: auto;
    width: 100%;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
  }
  .btn {
    width: 100%;
  }
}
