.form-group {
  margin-bottom: 40px;
}

label {
  color: #9d6262;
  font-size: 16px;
}

.form-control-primary {
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: none;
  box-sizing: border-box;
  padding: 10px 15px;
}
