// table style

.table {
  border-radius: 5px;
  box-shadow: 0 0 0;
  overflow: hidden;
  border-color: rgba(3, 155, 200, 1);
}

.thead-tr,
.tbody-tr {
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.thead-th {
  font-weight: 600;
}

.thead-tr .thead-th,
.tbody-tr .tbody-td {
  padding: 20px;
}

@media screen and (max-width: 826px) {
  .tbody {
    overflow-x: auto;
  }

  .ButtonGroup__root {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
// pagination options styles
.paginationOpts__root label {
  color: black !important;
}
